{% extends 'layout.twig' %}

{% block head %}
  <script src="javascripts/index.js"></script>
  <script src="javascripts/questions.js"></script>
  <script src="javascripts/score.js"></script>
  <script src="javascripts/lobby.js"></script>
{% endblock %}

{% block body %}
  <div id="home">
   <div id="button-start">
      <button class="corner-button"><span>Log in or Sign in</span></button>
      <button class="corner-button" id="guest"><span>Join as a guest</span></button>
    </div>
  </div>
  {% include 'lobby.twig' %}
{% endblock %}