<header>
        <nav>
          <ul>
            <li class="logo" id="logo"><img src="../assets/brut.svg"" alt="logo" style="width:12vw;height:8vh;"></i>
            <button type="button" class="corner-button" style="width:2vw;height:1vh;font-size:14px" id="back">Back</button>

          </ul>
        </nav>
        <nav>
            <ul>
                <li class="logo"><a href="#"><i class='fas fa-user-alt' aria-hidden="true"></a></i>
                <li class="username">  </li>
            </ul>
        <nav>
</header>
