<div id="container" hidden>
  
  <h1 id="question"></h1>
  <div class="circle">
    <div id="count" class="count"></div>
    <div id="l-half" class="l-half"></div>
    <div id="r-half" class="r-half"></div>
  </div>
  <div id="answers"></div>
  <h2 id="numQuestion"></h2>
  <h1 id="score">Score : 0<h1>
</div>

