{% extends 'quizz/layout.twig' %}

{% block head %}
  <script type='module' src='/javascripts/jquery'></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <script src="/quizz/javascripts/index.js"></script>
  <script src="/quizz/javascripts/questions.js"></script>
  <script src="/quizz/javascripts/score.js"></script>
  <script src="/quizz/javascripts/lobby.js"></script>
  <script type="module" src="/quizz/javascripts/genQuestions.js"></script>
{% endblock %}

{% block body %}
  <div id="home">
   <div id="button-start">
      <button class="corner-button"><span>Log in or Sign in</span></button>
      <button class="corner-button" id="guest"><span>Join as a guest</span></button>
    </div>
  </div>
  {% include 'quizz/lobby.twig' %}
{% endblock %}