<header>
        <nav>
          <ul>
            <li class="logo" id="logo"><img src="quizz/assets/brut.svg"" alt="logo" style="width:12vw;height:8vh;"></i>
          </ul>

        </nav>
        <nav>
          <ul>
<img src="quizz/assets/soundON.png" onclick='toggleSound(this)' style="width: 4vw;box-shadow: 1px 3px 5px black;">          </ul>
          
        </nav>
        <nav>
            <ul>
                <li class="logo"><a href="#"><i class='fas fa-user-alt' aria-hidden="true"></a></i>
                <li class="username">  </li>
            </ul>
        <nav>
</header>
