/* Header */
a {
  color: inherit;
  text-decoration: none; }

header {
  color: #fff;
  margin-bottom: 5vh;
  margin-top: 2vh;
  text-transform: uppercase;
  border-bottom: 0.4vh solid #b0e0ea;
  display: flex;
  justify-content: space-between;
  align-items: center; }

header nav, header ul {
  margin: 0; }

header nav ul {
  display: flex;
  align-items: baseline;
  list-style-type: none; }

header nav li {
  margin-right: 5vh; }
