html, body {
  margin: 0;
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

body {
  height: 100vh;
  width: 100vw; }

a {
  color: #ff0a0a; }

* {
  box-sizing: border-box; }

#home {
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url("../assets/homebis.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed; }

#button-start {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 10%; }
  #button-start button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%; }

#answers button {
  font-size: 25px;
  display: inline;
  width: 35%;
  height: 90px;
  margin: 20px 1%; }
  #answers button.selected {
    background-color: #1c1c1c;
    color: #c1c1c1; }
  #answers button.rightAnswer {
    background: repeating-linear-gradient(45deg, green, green 5px, green 5px, green 10px);
    color: #c1c1c1; }
  #answers button.wrongAnswer {
    background: repeating-linear-gradient(45deg, red, red 5px, red 5px, red 10px);
    color: #c1c1c1; }

#question {
  color: #2f3542;
  font-size: 40px; }

.circle {
  width: 100px;
  height: 100px;
  position: relative;
  border-radius: 999px;
  box-shadow: inset 0 0 0 10px rgba(255, 255, 255, 0.5);
  margin: auto; }

.l-half, .r-half {
  float: left;
  width: 50%;
  height: 100%;
  overflow: hidden; }
  .l-half:before, .r-half:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 10px solid #ffb84d;
    -webkit-animation-duration: 11s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards; }

.l-half:before {
  border-right: none;
  border-top-left-radius: 999px;
  border-bottom-left-radius: 999px;
  -webkit-transform-origin: center right;
  -webkit-animation-name: l-rotate; }

.r-half:before {
  border-left: none;
  border-top-right-radius: 999px;
  border-bottom-right-radius: 999px;
  -webkit-transform-origin: center left;
  -webkit-animation-name: r-rotate; }

@-webkit-keyframes l-rotate {
  0% {
    -webkit-transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(-180deg); }
  100% {
    -webkit-transform: rotate(-180deg); } }

@-webkit-keyframes r-rotate {
  0% {
    -webkit-transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(-180deg); } }

@-webkit-keyframes fadeout {
  0% {
    opacity: 1; }
  100% {
    opacity: 0.5; } }

/* -- TIMER -- */
.count {
  position: absolute;
  width: 100%;
  line-height: 100px;
  text-align: center;
  font-weight: 800;
  font-size: 40px;
  font-family: Helvetica;
  color: black;
  z-index: 2;
  -webkit-animation: fadeout 0.5s 12s 1 linear;
  -webkit-animation-fill-mode: forwards; }

input.heighttext {
  text-align: center;
  margin-left: 45%;
  margin-top: 70px;
  margin-bottom: 120px;
  padding: 20px 10px;
  line-height: 28px;
  font-size: 14px;
  box-shadow: 0 0 12px 5px #fff; }

.corner-button {
  font-family: 'Lato', sans-serif;
  letter-spacing: .02rem;
  cursor: pointer;
  background: none;
  background-image: url("../assets/brut.png");
  padding: 1vh 1vw;
  font-size: 2vw;
  color: #fff;
  text-shadow: 0 0 20px #A77B06;
  position: relative;
  margin-bottom: 0.8%;
  box-sizing: content-box;
  border: 0.3vw solid transparent; }
  .corner-button::before, .corner-button::after, .corner-button span::before, .corner-button span::after {
    display: block;
    content: "";
    width: 1vw;
    height: 1vw;
    position: absolute; }
  .corner-button::before {
    top: -0.3vw;
    left: -0.3vw;
    border-top: 0.3vw solid #fff;
    border-left: 0.3vw solid #fff;
    transition: 0.5s all; }
  .corner-button::after {
    top: -0.3vw;
    right: -0.3vw;
    border-top: 0.3vw solid #fff;
    border-right: 0.3vw solid #fff;
    transition: 0.5s all; }
  .corner-button span::before {
    bottom: -0.3vw;
    left: -0.3vw;
    border-bottom: 0.3vw solid #fff;
    border-left: 0.3vw solid #fff;
    transition: 0.5s all; }
  .corner-button span::after {
    bottom: -0.3vw;
    right: -0.3vw;
    border-bottom: 0.3vw solid #fff;
    border-right: 0.3vw solid #fff;
    transition: 0.5s all; }
  .corner-button:hover {
    box-shadow: 0 0 20px #A77B06; }
  .corner-button:hover::before, .corner-button:hover::after {
    width: 100%;
    height: 100%; }
  .corner-button:hover span::before, .corner-button:hover span::after {
    width: 100%;
    height: 100%; }
