body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
  height: 100%;
  margin: auto; }

a {
  color: #00B7FF; }

form {
  width: 30%;
  margin: auto; }

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; }

input[type=submit] {
  width: 100%;
  background-color: #e76161;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer; }

input[type=submit]:hover {
  background-color: #e76161; }

input[type=number] {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; }

#genererXQuestionsDate, #genererXQuestionsChanson, #genererXQuestionsAlbum, #genererXQuestionsAll, #genererXQuestionsTest {
  width: 10%;
  background-color: #e76161;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer; }

#genererXQuestionsDate:disabled, #genererXQuestionsChanson:disabled, #genererXQuestionsAlbum:disabled, #genererXQuestionsAll:disabled, #genererXQuestionsTest:disabled {
  width: 10%;
  background-color: #666666;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: none; }
