$base-color: #ff0a0a;
$selected-color: #1c1c1c;
$selected-text-color: #c1c1c1;
$rightAnswer-color: repeating-linear-gradient( 45deg, green, green 5px, green 5px, green 10px);
$rightAnswer-text-color: #c1c1c1;
$wrongAnswer-color: repeating-linear-gradient( 45deg, red, red 5px, red 5px, red 10px);
$wrongAnswer-text-color: #c1c1c1;