#container {
  border: 2px solid black;
  background-color: #dfe4ea;
  width: 100%;
  height: 100%;
  padding: 10px;
  text-align: center;
  box-shadow: 0 0 12px 5px #fff; }

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0; }

.btn {
  background-color: #ffdca8;
  border-radius: 15px;
  padding: 5px 10px;
  outline: none;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  border: none;
  box-shadow: 0 9px #999; }

.btn:hover {
  background-color: #ffb84d;
  color: black; }

.btn:active {
  background-color: #ffb84d;
  box-shadow: 0 5px #666;
  transform: translateY(4px); }

.game-button {
  width: 90%;
  position: relative;
  top: 0;
  cursor: pointer;
  display: block;
  text-decoration: none !important;
  outline: none !important;
  font-family: "Carter One", sans-serif;
  font-size: 1vw;
  line-height: 1.5em;
  letter-spacing: 0.1em;
  text-shadow: 2px 2px 1px #0066a2, -2px 2px 1px #0066a2, 2px -2px 1px #0066a2, -2px -2px 1px #0066a2, 0px 2px 1px #0066a2, 0px -2px 1px #0066a2, 0px 4px 1px #004a87, 2px 4px 1px #004a87, -2px 4px 1px #004a87;
  border: none;
  margin: 5px 15px 25px;
  border-bottom: 3px solid rgba(16, 91, 146, 0.5);
  border-top: 3px solid rgba(255, 255, 255, 0.3);
  color: #fff !important;
  border-radius: 8px;
  padding: 6px 13px 8px;
  box-shadow: 0 6px 0 #266b91, 0 8px 1px 1px rgba(0, 0, 0, 0.3), 0 10px 0 5px #12517d, 0 12px 0 5px #1a6b9a, 0 15px 0 5px #0c405e, 0 15px 1px 6px rgba(0, 0, 0, 0.3); }

.game-button:hover {
  top: 2px;
  box-shadow: 0 4px 0 #266b91, 0 6px 1px 1px rgba(0, 0, 0, 0.3), 0 8px 0 5px #12517d, 0 10px 0 5px #1a6b9a, 0 13px 0 5px #0c405e, 0 13px 1px 6px rgba(0, 0, 0, 0.3); }

.game-button::before {
  content: "";
  height: 10%;
  position: absolute;
  width: 40%;
  background-color: #fff;
  right: 13%;
  top: -3%;
  border-radius: 99px; }

.game-button::after {
  content: "";
  height: 10%;
  position: absolute;
  width: 5%;
  background-color: #fff;
  right: 5%;
  top: -3%;
  border-radius: 99px; }

.game-button.orange {
  background: repeating-linear-gradient(45deg, #fff, #fff 5px, #fff 5px, #fff 10px);
  box-shadow: 0 6px 0 #b76113, 0 8px 1px 1px rgba(0, 0, 0, 0.3), 0 10px 0 5px #75421f, 0 12px 0 5px #8a542b, 0 15px 0 5px #593116, 0 15px 1px 6px rgba(0, 0, 0, 0.3);
  border-bottom: 3px solid rgba(205, 102, 0, 0.5);
  text-shadow: 2px 2px 1px #e78700, -2px 2px 1px #e78700, 2px -2px 1px #e78700, -2px -2px 1px #e78700, 0px 2px 1px #e78700, 0px -2px 1px #e78700, 0px 4px 1px #c96100, 2px 4px 1px #c96100, -2px 4px 1px #c96100; }

.game-button.orange:hover {
  top: 2px;
  box-shadow: 0 4px 0 #b76113, 0 6px 1px 1px rgba(0, 0, 0, 0.3), 0 8px 0 5px #75421f, 0 10px 0 5px #8a542b, 0 13px 0 5px #593116, 0 13px 1px 6px rgba(0, 0, 0, 0.3); }

.disabled {
  pointer-events: none;
  opacity: 1; }
